.grid {
    display: grid;
    justify-content: center;
    margin: 10px;
    background-color: grey;
}

.row {
    display: flex;
    flex-flow: row;
    flex-direction: row;
}

.node {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 2px;
    display: flex;
}

.node:hover {
    background-color: rgb(99, 99, 143);
}

.node-dead {
    background-color: rgb(218, 219, 218);
}

.node-alive {
    background-color: rgb(107, 37, 148);
}

