.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: rgb(153, 153, 153);
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
}


