.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    color: rgb(194, 194, 194);

}


.options {
    width: 20%;
    height: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        font-size: 22px;
    }


    .config {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        width: 100%;
        background-color: #ffffff1e;
        padding: 10px;
        box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
        margin-bottom: 10px;

        .config-buttons {
            display: flex;
            width: 100%;
            margin-top: 5px;

            .random {
                border: 1px solid rgb(218, 186, 44);
                background-color: rgb(218, 186, 44);
            
                &:hover {
                    background-color: rgb(202, 173, 43);
                    border-color: rgb(202, 173, 43);
                }
            }

            .preset {
                border: 1px solid rgb(216, 63, 236);
                background-color: rgb(216, 63, 236);
            
                &:hover {
                    background-color: rgb(182, 53, 199);
                    border-color: rgb(182, 53, 199);
                }
            } 
        }

       
    }
    

    .algorithms {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        background-color: #ffffff1e;
        box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);

        select {
            width: 100%;
            height: 40px;
            border: 0px;
            border-radius: 5px;
            background-color: #ffffff5b;
            font-family: 'Roboto', sans-serif;
            font-size: 18px;
            color: rgb(255, 250, 250);
            margin: 5px;

            &:hover {
                cursor: pointer;
            }

            &:disabled {
                background-color: #ffffff33;
            }
            
        }
    }


}

.info {
    width: 20%;
    height: 70%;
    padding: 10px;
    padding-top: 0px;
    background-color: #ffffff1e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);

    .title {
        font-size: 28px;
        
    }

    .data {
        font-size: 25px;
        margin-bottom: 25px;
        color: #23a6d5;
    }
}

.grid-container {
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    background-color: #ffffff1e;

    

    .container-outline {
        border-radius: 10px;
        padding: 10px;
        height: 80%;
        // background-color: #23a6d5;
        
        background: linear-gradient(-90deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 10s ease infinite;

        @keyframes gradient {
            0% {
            background-position: 0% 50%;
            }
            50% {
            background-position: 100% 50%;
            }
            100% {
            background-position: 0% 50%;
            }
        }

    }

    .grid {
        display: grid;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.404);

        .row {
            display: flex;
            flex-flow: row;
            flex-direction: row;
        }
    }
}



.node {
    $node-size: 14px;
    width: $node-size;
    height: $node-size;
    border: 1px solid rgb(153, 153, 153);
    display: flex;
    transition: 300ms;
    transition-property: width, height;


    &:hover {
        background-color: rgb(99, 99, 143);
        cursor: pointer;
    }


    &-dead {
        background-color: rgb(139, 139, 139);
    }

    &-alive {
        background-color: rgba(255, 255, 255, 0);
    }
}



