.controls-container {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    // background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-color: #ffffff1e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);


    span {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.speed {
    display: flex;

    span {
        margin-right: 0.5em;
        span {
            margin-right: 0em;
        }
        
    }
    .speed-slider {
    margin-top: 5px;
    width: 100%;
}
}


.start {
    border: 1px solid rgb(30, 141, 231);
    background-color: rgb(30, 141, 231);

    &:hover {
        background-color: rgb(26, 120, 197);
        border-color: rgb(26, 120, 197);
    }
}

.clear {
    background-color: red;
    border-color: red;

    &:hover {
        background-color: rgb(214, 0, 0);
        border-color: rgb(214, 0, 0);
    }
}

.reset {
    background-color: gray;
    border-color: gray;

    &:hover {
        background-color: rgb(105, 105, 105);
        border-color: rgb(105, 105, 105);
    }
}

.next {
    background-color: rgb(45, 255, 80);
    border-color: rgb(45, 255, 80);

    &:hover {
        background-color: rgb(40, 212, 68);
        border-color: rgb(40, 212, 68);
    }
}