.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(2px);
}




.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 65%;
    padding: 10px;
    padding-right: 30px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    background-color:#292929;
    z-index: 1000;
    color: white;
    text-align: center;


    .closeButton {
        width: 150px;
        border: 1px solid rgb(30, 141, 231);
        background-color: rgb(30, 141, 231);

        &:hover {
            background-color: rgb(26, 120, 197);
            border-color: rgb(26, 120, 197);
    }

    }
}


.modal-enter .container {
    opacity: 0;
    transform: translateY(200px);
  }

.modal-enter-active .container {
    opacity: 1;
    transform: translateY(0px);
    transition: all 200ms;
}

.modal-exit .container {
    opacity: 1;

}
.modal-exit-active .container {
    opacity: 0;
    transform: translateY(200px);
    transition: all 200ms;
}

.modal-exit-active {
    opacity: 0;
    transition: all 500ms;
}
  
