.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(3px);
}




.container {
    display: flex;
    align-items: center;
    justify-content: start;
    // overflow-y: scroll;
    width: 50%;
    height: 65%;
    border-radius: 10px;
    flex-direction: column;
    top: 50%;
    left: 50%;
    background-color:#292929;
    padding: 50px;
    z-index: 1000;
    color: white;


    .closeButton {
        width: 150px;
        color:black
    }
}


.modal-enter .container {
    opacity: 0;
    transform: translateY(200px);
  }

.modal-enter-active .container {
    opacity: 1;
    transform: translateY(0px);
    transition: all 200ms;
}

.modal-exit .container {
    opacity: 1;

}
.modal-exit-active .container {
    opacity: 0;
    transform: translateY(200px);
    transition: all 200ms;
}

.modal-exit-active {
    opacity: 0;
    transition: all 500ms;
}
  
